@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .completed {
    animation: flip 1s ease-in-out;
    background: linear-gradient(90deg, rgba(148,43,59,1) 0%, rgba(171,40,54,1) 50%, rgba(195,37,48,1) 100%);
  }

  @keyframes flip {
    from { transform: rotateY(0); }
    to { transform: rotateY(180deg); }
  }
}